@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: "Muller";
    src: url("fonts/MullerBold.eot");
    src: url("fonts/MullerBold.eot?#iefix") format("embedded-opentype"),
        url("fonts/MullerBold.woff2") format("woff2"),
        url("fonts/MullerBold.woff") format("woff"),
        url("fonts/MullerBold.ttf") format("truetype"),
        url("fonts/MullerBold.svg#MullerBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("fonts/MullerRegular.eot");
    src: url("fonts/MullerRegular.eot?#iefix") format("embedded-opentype"),
        url("fonts/MullerRegular.woff2") format("woff2"),
        url("fonts/MullerRegular.woff") format("woff"),
        url("fonts/MullerRegular.ttf") format("truetype"),
        url("fonts/MullerRegular.svg#MullerRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("fonts/MullerMedium.eot");
    src: url("fonts/MullerMedium.eot?#iefix") format("embedded-opentype"),
        url("fonts/MullerMedium.woff2") format("woff2"),
        url("fonts/MullerMedium.woff") format("woff"),
        url("fonts/MullerMedium.ttf") format("truetype"),
        url("fonts/MullerMedium.svg#MullerMedium") format("svg");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Muller";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix") format("embedded-opentype"),
        url("fonts/MullerLight.woff2") format("woff2"),
        url("fonts/MullerLight.woff") format("woff"),
        url("fonts/MullerLight.ttf") format("truetype"),
        url("fonts/MullerLight.svg#MullerLight") format("svg");
    font-weight: 300;
    font-style: normal;
}


/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #ffffff;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background: rgba(45, 41, 41, 1);
}


.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.wrapper:after {
    display: block;
    content: "";
    width: 100%;
    height: 21%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(137,123,88,0) 0%, rgba(137,123,88,0.23) 100%);
    background: -webkit-linear-gradient(top,  rgba(137,123,88,0) 0%,rgba(137,123,88,0.23) 100%);
    background: linear-gradient(to bottom,  rgba(137,123,88,0) 0%,rgba(137,123,88,0.23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00897b58', endColorstr='#33897b58',GradientType=0 );
}

.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}

&::-ms-expand { display: none; }

input::-webkit-input-placeholder       {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; color: #ffffff; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; color: #ffffff; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; color: #ffffff; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; color: #ffffff; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 30px 0 10px 0;
}

h1 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #e8c97e;
}


h2 {
    position: relative;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 98px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 2;
}

h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 43px;
    line-height: 45px;
    font-weight: bold;
    color: #b9a671;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
}

p.font-22 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    color: #ffffff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    outline: none;
    border: 1px solid transparent;
}

button.article-button {
    display: inline-block;
    vertical-align: top;
    min-width: 260px;
    cursor: pointer;
    text-align: center;
    margin: 20px 0;
    padding: 13px 5px 11px 5px;
    border: 1px solid transparent;
    background: rgba(212, 48, 48, 1);
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;

    text-transform: uppercase;
    -webkit-transition-property: color background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

button.article-button .fa {
    margin: 0 3% 0 0;

    text-transform: uppercase;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

button.article-button:hover {
    color:#d43030;
    background: rgba(255, 255, 255, 1);
}

button.article-button:hover .fa {
    color:#d43030;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1190px;
    margin: 0 auto;
}

.main-row {
    padding: 0;
    max-width: 1600px;
    margin: 0 auto;
}

.row-th {
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-center {
    text-align: center;
}

.gold {
    color: #b9a671;
}

.white {
    color: #ffffff;
}

.align-right {
    text-align: right;
}

.desc-novisible {
    display: none;
}

/*-------------------------------------------*/
/* ----- Popup ------ */
/*-------------------------------------------*/

.callback-popup {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.callback-popup-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
}

.callback-block {
    display: block;
    position: relative;
    top: 0;
    letter-spacing: 0;
    max-width: 932px;
    width: 90%;
    margin: 0 auto;
    z-index: 2;
}

.popup-head h2 {
    display: inline-block;
    vertical-align: top;
    width: 80%;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 53px;
    line-height: 55px;
    font-weight: bold;
    color: #d43030;
    position: relative;
    top: 20px;
}

.close-popup-btn-box {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: right;
}

.close-popup-btn {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    top: 5px;
}

.close-popup-btn:after {
    display: block;
    content: "\2715";
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
    color: #b9a671;
    position: relative;
    top: -2px;
    left: -3px;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.close-popup-btn:link:after,
.close-popup-btn:visited:after {
    color: #b9a671;
}

.close-popup-btn.active:after,
.close-popup-btn:active:after {
    color: #ffffff;
}

.close-popup-btn:hover:after {
    color: #ffffff;
}

.callack-form {
    background: rgba(255, 255, 255, 1);
    padding: 35px 6%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.callack-form-row {
    position: relative;
    margin: 10px 0;
}

.hover-block {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    border-bottom: 3px solid #e8e8e8;
    padding: 17px 2%;
    z-index: 2;
}

.hover-block h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    font-style: italic;
    color: #201c1e;
    text-transform: none;
    letter-spacing: none;
}

.input-box {
    /*display: block;*/
    display: none;
    font-size: 0;
    line-height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(185, 166, 113, 1);
    padding: 7px 0 7px 8.5%;
    border-bottom: 3px solid #201c1e;
    z-index: 3;
}

.input-box .col {
    display: inline-block;
    vertical-align: middle;
}

.input-box .col-1 {
    width: 91%;
}

.input-box .col-2 {
    width: 9%;
    text-align: center;
}

.input-box h3 {
    display: block;
    width: 100%;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    text-align: center;
    text-transform: none;
    letter-spacing: none;
}

.input-field {
    display: block;
    width: 100%;
    background: rgba(185, 166, 113, 1);
    border: 1px solid transparent;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}

.cheked {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    background-image: url(img/checked.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.send-btn-box {
    text-align: center;
    padding: 35px 0 25px 0;
}

.submit-btn {
    display: inline-block;
    vertical-align: top;
    min-width: 308px;
    cursor: pointer;
    padding: 16px 2% 14px 2%;
    background: rgba(212, 48, 48, 1);
    border: 1px solid transparent;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.submit-btn:link,
.submit-btn:visited {
    background: rgba(212, 48, 48, 1);
}

.submit-btn.active,
.submit-btn:active {
    background: rgba(238, 16, 16, 1);
}

.submit-btn:hover {
    background: rgba(238, 16, 16, 1);
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.lines {
    display: block;
    max-width: 1180px;
    height: 0;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.middle-line {
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -1px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.left-line {
    width: 7.7%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-line:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.right-line {
    width: 7.7%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.right-line:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid rgba(255, 255, 255, .1);
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.header {
    padding: 50px 0 245px 0;
    position: relative;
}

.header.with-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/promo_bg.png);
    background-size: cover;
    background-position: center;
}

.header-bg {
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/promo_bg.png);
    background-size: cover;
    background-position: center;
}

.header:after {
    display: block;
    content: "";
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(46,41,41,0) 0%, rgba(46,41,41,0.86) 73%, rgba(46,41,41,0.87) 74%, rgba(46,41,41,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(46,41,41,0) 0%,rgba(46,41,41,0.86) 73%,rgba(46,41,41,0.87) 74%,rgba(46,41,41,1) 100%);
    background: linear-gradient(to bottom,  rgba(46,41,41,0) 0%,rgba(46,41,41,0.86) 73%,rgba(46,41,41,0.87) 74%,rgba(46,41,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#002e2929", endColorstr="#2e2929",GradientType=0 );
}

.main-row {
    position: relative;
    z-index: 2;
}

.tel-link {
    display: inline-block;
    vertical-align: top;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: normal;
    color: #ffffff;
}

.tel-link .gold,
.tel-link .white {
    display: inline-block;
    vertical-align: top;
}

.tel-link .gold:after {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 100%;
    height: 3px;
    margin: 14px 0 0 0;
    background: rgba(185, 166, 113, 1);
}

.tel-link .white:after {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 100%;
    height: 3px;
    margin: 14px 0 0 0;
    background: rgba(255, 255, 255, 1);
}

/* -- Main Nav -- */

.main-nav-box {
    padding: 20px 0;
}

.main-nav {
    display: block;
    width: 100%;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 23px 53px;
}

.main-nav-link {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: #b9a671;
    text-transform: uppercase;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav-link:link,
.main-nav-link:visited {
    color: #b9a671;
}

.main-nav-link.active,
.main-nav-link:active {
    color: #ffffff;
}

.main-nav-link:hover {
    color: #ffffff;
}

.main-nav-link:after {
    display: block;
    content: "\2f";
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.main-nav-link:hover:after {
    color: #ffffff;
}

.main-nav-link:link:after,
.main-nav-link:visited:after {
    color: #ffffff;
}

.main-nav-link.active:after,
.main-nav-link:active:after {
    color: #b9a671;
}

.main-nav-link:hover:after {
    color: #b9a671;
}


/* -- /Main Nav -- */

/* ----- Responsive Menu Button ------ */

.respmenubtn-box {
    display: none;
    position: fixed;
    top: 1%;
    left: 2%;
    z-index: 29;
}

.respmenubtn {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    cursor: pointer;    
    background: transparent;
    border: 1px solid transparent;
    position: fixed;
    z-index: 20;
}

.respmenubtn span {
    display: block;
    width: 40px;
    height: 2px;
    border: 1px solid rgba(232, 201, 127, .8);
    background: rgba(232, 201, 127, .8);
    margin: 0 0 10px 0;

    -webkit-transition-property: border background transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border background transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border background transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border background transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border background transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    border: 1px solid #e8c97f;
    border: 1px solid rgba(232, 201, 127, 1);
}

.respmenubtn-active span {
    width: 54px !important;
    border: 1px solid #e8c97f;
    border: 1px solid rgba(232, 201, 127, 1);
}

.respmenubtn-active span:last-child {
    display: none;
}

.respmenubtn-active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 5px 0 0 0;
    position: relative;
    top: 3px;
    left: -8px;
}

.respmenubtn-active span:nth-child(2) {
    position: relative;
    top: 1px;
    left: -8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/* ----- Responsive Nav Menu ------ */

.main-nav-resp-box {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 20;
}

.main-nav-resp {
    display: block;
    width: 100%;
    max-height: 87vh;
    margin: 70px 0;
    padding: 20px 0;
    background: rgba(0, 0, 0, .4);
}

.main-nav-resp li {
    display: block;
    width: 100%;
    padding: 5px 1%;
}

.main-nav-resp .main-nav-link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
}

.main-nav-resp .main-nav-link:after {
    display: none;
}


/* ----- / Responsive Nav Menu ------ */

/* -- Logo Block -- */

.logo-block {
    padding: 100px 0 125px 0;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.col-2 {
    color: 100%;
    text-align: center;
}

.fixed-row {
    display: block;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 20;
}

.fixed-row .main-row {
    margin: 0 auto;
}

.soc-links-list.fixed {
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: fixed;
    top: 50%;
    right: 100px;
    z-index: 20;
    margin: -94px 0 0 0;
    padding: 0;
}

.callback-btn.fixed {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 50%;
    left: -30px;
    margin: 10px 0 0 0;
    padding: 12px 5px;
    z-index: 20;
    cursor: pointer;
    border: 1px solid transparent;
    background: rgba(212, 48, 48, 1);
    min-width: 260px;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.callback-btn.fixed:link,
.callback-btn.fixed:visited {
    background: rgba(212, 48, 48, 1);
}

.callback-btn.fixed.active,
.callback-btn.fixed:active {
    background: rgba(200, 14, 14, 1);
}

.callback-btn.fixed:hover {
    background: rgba(200, 14, 14, 1);
}

.callback-btn.fixed .fa {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    padding: 0 15px 0 0;
}

.logo-col {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

h1.logo {
    display: inline-block;
    vertical-align: top;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 222px;
    line-height: 222px;
    font-weight: bold;
    color: #e8c97e;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 11px;
    padding: 0 0 0 .7%;
    background: linear-gradient(90deg, #e8c97e 0%, #968554 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-col h2 {
    padding: 20px 0 20px 27px;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    color: #fffffe;
    text-transform: uppercase;
    letter-spacing: 27px;
}

.head-resp-box {
    text-align: center;
}

.head-resp-box .soc-links-list {
    display: block;
    width: 100%;
    padding: 20px 3%;
}

.head-resp-box .soc-links-list li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 10px 3%;
}

.head-resp-box .soc-links-list li:nth-child(1) {
    padding: 10px 2%;
}

.callback-btn {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 50%;
    left: -90px;
    margin: 10px 0 0 0;
    padding: 12px 5px;
    z-index: 20;
    cursor: pointer;
    border: 1px solid transparent;
    background: rgba(212, 48, 48, 1);
    min-width: 260px;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.callback-btn:link,
.callback-btn:visited {
    background: rgba(212, 48, 48, 1);
}

.callback-btn.active,
.callback-btn:active {
    background: rgba(200, 14, 14, 1);
}

.callback-btn:hover {
    background: rgba(200, 14, 14, 1);
}

.callback-btn .fa {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    padding: 0 15px 0 0;
}

.head-resp-box .callback-btn {
    transform: none;
    position: relative;
    top: 0;
    left: 0;
}

/* -- /Logo Block -- */

/* -- Social Nets -- */

.soc-links-list {
    padding: 0 0 0 70%;
}

.soc-links-list li {
    display: block;
    width: 100%;
    padding: 25px 0;
}

.soc-links-list li:nth-child(1) {
    padding: 0 0 25px 0;
}

.soc-link {
    font-size: 23px;
    line-height: 23px;
    color: #b9a671;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;

}

.soc-link:link,
.soc-link:visited {
    color: #b9a671;
}

.soc-link.active,
.soc-link:active {
    color: #ffffff;
}

.soc-link:hover {
    color: #ffffff;
}

/* -- /Social Nets -- */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - About Us --*/

.slider-sect {
    position: relative;
    margin: -180px auto 0 auto;
    z-index: 5;
}

.slider-sect .bg-h {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    right: -18%;
    margin: -115px 0 0 0;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 230px;
    line-height: 230px;
    font-weight: bold;
    color: #b9a671;
    opacity: .3;
}

.slider-sect .bg-h .black {
    color: #030303;
}

.slider-sect .bg-h .grey {
    color: #3e3c3c;
}

.slider-sect h2 {
    padding: 0 0 0 8.2%;
}

.sect-1-col.left {
    display: block;
    width: 59%;
    position: relative;
    top: -61px;
}

.sect-1-col.right {
    display: block;
    width: 41%;
    position: relative;
    top: 70px;
    left: -18%;
    z-index: 2;
}

.about-us-slider-box {
    position: relative;
}

.shadow {
    display: block;
    width: 39%;
    height: 595px;
    position: absolute;
    top: 41px;
    left: 10%;
    -webkit-box-shadow:0px 0px 350px 30px rgba(255, 0, 0, .3);
    -moz-box-shadow:0px 0px 350px 30px rgba(255, 0, 0, .3);
    box-shadow:0px 0px 350px 30px rgba(255, 0, 0, .3);
}

.inner-col-sl-1 {
    position: relative;
}

.inner-col-sl-1 h3 {
    display: block;
    position: absolute;
    top: 180px;
    left: -45%;
    width: 100%;
    height: 100%;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #b9a671;
    text-transform: uppercase;
    letter-spacing: 15px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 2;
}

.about-us-slider {
    display: inline-block;
    vertical-align: top;
    width: 71%;
    height: 600px;
    margin: 0 0 0 14%;
    overflow: hidden;
    position: relative;
}

.about-us-slide {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.about-us-slide.slick-slide {
    height: 600px;
}

.about-us-slide img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0px solid transparent;
}

.about-us-slider .slide-image {
    z-index: 2;
}

.about-us-slider .slide-image_hover {
    z-index: 1;
}

.slide-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 2;
}

.about-us-slider-arrows {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
}

.slick-arrow {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 54px;
    cursor: pointer;
    background: rgba(185, 166, 113, 1);
    border: 1px solid transparent;

    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:link,
.slick-arrow:visited {
    background: rgba(185, 166, 113, 1);
}

.slick-arrow:active,
.slick-arrow.active {
    background: rgba(37, 30, 30, 1);
}

.slick-arrow:hover {
    background: rgba(37, 30, 30, 1);
}

.slick-arrow .fa {
    font-size: 25px;
    line-height: 25px;
    color: #241e1e;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.slick-arrow:link .fa,
.slick-arrow:visited .fa {
    color: #241e1e;
}

.slick-arrow:active .fa,
.slick-arrow.active .fa {
    color: #ffffff;
}

.slick-arrow:hover .fa {
    color: #ffffff;
}

.num-slide-box {
    position: absolute;
    bottom: -9px;
    right: -64%;
}

.num-slide-box p {
    display: inline-block;
    vertical-align: top;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #c7b8b8;
    letter-spacing: 17px;
}

.num-slide-box p:before {
    display: inline-block;
    vertical-align: middle;
    content: "\2f";
    font-size: 18px;
    line-height: 28px;
    color: #c7b8b8;
    position: relative;
    left: -51%;
}

.slide-content-append {
    margin: 0 0 0 14%;
    padding: 30px 0 0 0;
}

.slide-content-append h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.slide-content-append h4 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #b9a671;
}

.sect-1-col.right h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 44px;
    line-height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 9px;
    padding: 0 0 22px 0;
    position: relative;
    left: -7%;
}

.sect-1-col.right p {
    padding: 14px 0;
}

/*-- Section 1 - About Us --*/

/*-- Section 2 - Services --*/

.services-sect {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.for-paralaks {
    display: block;
    height: 0;
    position: relative;
    top: -1px;
}

.article {
    padding: 105px 0;
    z-index: 10;
}

.article:nth-child(1) {
    padding: 30px 0 105px 0;
}

.article .row {
    display: block;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

.article .left {
    display: block;
    width: 790px;
    float: left;
    position: relative;
    z-index: 5;
    padding: 0 0 0 7.5%;
}

.article .right {
    display: block;
    width: 750px;
    float: right;
    position: relative;
    z-index: 5;
}

.article .row .article-content {
    display: block;
}

.image-article-box {
    position: absolute;
}

.article h3 {
    position: relative;
    padding: 15px 0;
    z-index: 5;
}

.article.left-image h3 {
    padding-left: 0;
}

.article.left-image .article-content {
    padding: 0 0 0 4%;
}

.article .p-1 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
    color: #ffffff;
    padding: 15px 0;
    position: relative;
    z-index: 5;
}

.article .article-num {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 164px;
    line-height: 168px;
    font-weight: 500;
    color: #343131;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 5;
}

.article.right-image .article-num {
    top: -44px;
    left: -2%;
}

.article.left-image .article-num {
    top: -44px;
    right: -5.5%;
}

.article.right-image .article-num-3 {
    left: -2.9%;
}

.article.left-image .article-num-4 {
    right: -6%;
}

.article-content {
    position: relative;
    z-index: 5;
}

.article.right-image .article-content {
    padding: 0 0 0 6%;
}

.article-content p {
    padding: 15px 0;
}

.image_1-box {
    display: block;
    max-width: 1040px;
    top: -394px;
    right: -37%;
    position: absolute;
}

.article-image_1 {
    display: block;
    width: 100%;
    height: auto;
}

.image_2-box {
    display: block;
    max-width: 680px;
    position: absolute;
    top: -410px;
    left: -34%;
    z-index: 3;
}

.image_2-box img {
    display: block;
    width: 100%;
    height: auto;
}

.image_3-box {
    display: block;
    max-width: 1195px;
    position: absolute;
    top: -425px;
    left: -36%;
    z-index: 2;
}

.image_3-box img {
    display: block;
    width: 100%;
    height: auto;
}

.image_4-box {
    display: block;
    max-width: 660px;
    position: absolute;
    top: 47px;
    right: -9%;
}

.image_4-box img {
    display: block;
    width: 100%;
    height: auto;
}

.image_5-box {
    display: block;
    max-width: 660px;
    position: absolute;
    top: 0;
    left: -24%;
}

.image_5-box img {
    display: block;
    width: 100%;
    height: auto;
}

/*-- /Section 2 - Services --*/

/*-- Section 3 - Clients --*/

.clients-h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 17px;
    line-height: 29px;
    font-weight: 500;
    color: #b9a671;
    letter-spacing: 14px;
    padding: 15px 0;
}

.thumbnails {
    padding: 40px 0;
}

.thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 35px 1%;
}

.thumbnail img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    opacity: .2;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumbnail img:hover {
    opacity: 1;
}

/*-- /Section 3 - Clients --*/

/*-- /Section 4 - Contacts --*/

.contacts-sect {
    padding: 60px 0;
}

.contacts-content {
    margin: -61px 0 0 0;
}

.contacts-sect .col {
    display: inline-block;
    vertical-align: middle;
}

.contacts-sect .col-1 {
    width: 37%;
}

.contacts-sect .col-2 {
    width: 63%;
}

.contacts-sect h3 {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    color: #ffffff;
    text-transform: none;
    padding: 6px 0;
}

.contacts-sect p {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 25px;
    line-height: 28px;
    font-weight: normal;
    color: #ffffff;
    padding: 6px 0;
}

.tel-link {
    margin: 20px 0 5px 0;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 35px;
    line-height: 38px;
    font-weight: normal;
    color: #ffffff;
}

.contacts-content .tel-link .gold:after,
.contacts-content .tel-link .white:after {
    display: none;
}

.mail-link {
    display: inline-block;
    vertical-align: top;
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: normal;
    color: #d43030;
    border-bottom: 2px solid #d43030;
    margin: 20px 0;

    -webkit-transition-property: color border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.mail-link:link,
.mail-link:visited {
    color: #d43030;
    border-bottom: 2px solid #d43030;
}

.mail-link.active,
.mail-link:active {
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

.mail-link:hover {
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

.map-box {
    display: block;
    width: 100%;
    max-width: 650px;
    height: 620px;
    position: relative;
    -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    0px 0px 80px 0px rgba(0, 0, 0, 0.4);
    box-shadow:         0px 0px 80px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#map {
    display: block;
    width: 150%;
    height: 850px;
    margin: -125px 0 0 -25%;
}

/*-- Section 4 - Contacts --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 2;
}

.footer {
    padding: 30px 0;
    text-align: center;
}

.copy {
    font-family: "Muller", Arial, Verdana, sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: normal;
    color: #c9c8c7;
}

.footer .soc-links-list {
    text-align: center;
    padding: 20px 0;
}

.footer .soc-links-list li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 10px 27px;
}

.logo {
    position: relative;
    animation: put 2s ease-in-out;
}

@keyframes put {
    0%  { bottom: 30px; }
    100%    { bottom: 0; }
}

@-webkit-keyframes put {
    0%  { bottom: 30px; }
    100%    { bottom: 0; }
}

img.article-image_1 {
    position: relative;
    animation: floatimage-one 7s infinite;
}

@keyframes floatimage-one {
    0%  { left: 0; }
    50% { left: 30px; }
    100%    { left: 0; }
}

@-webkit-keyframes floatimage-one {
    0%  { left: 0; }
    50% { left: 30px; }
    100%    { left: 0; }
}


img.article-image_2 {
    position: relative;
    animation: floatimage-two 7s infinite;
}

@keyframes floatimage-two {
    0%  { right: 0; }
    50% { right: 30px; }
    100%    { right: 0; }
}

@-webkit-keyframes floatimage-two {
    0%  { right: 0; }
    50% { right: 30px; }
    100%    { right: 0; }
}

img.article-image_3 {
    position: relative;
    animation: floatimage-three 7s infinite;
}

@keyframes floatimage-three {
    0%  { right: 0; }
    50% { right: 50px; }
    100%    { right: 0; }
}

@-webkit-keyframes floatimage-three {
    0%  { right: 0; }
    50% { right: 50px; }
    100%    { right: 0; }
}

img.article-image_4 {
    position: relative;
    animation: floatimage-four 7s infinite;
}

@keyframes floatimage-four {
    0%  { left: 0; }
    50% { left: 30px; }
    100%    { left: 0; }
}

@-webkit-keyframes floatimage-four {
    0%  { left: 0; }
    50% { left: 30px; }
    100%    { left: 0; }
}

img.article-image_5 {
    position: relative;
    animation: floatimage-five 7s infinite;
}

@keyframes floatimage-five {
    0%  { right: 0; }
    50% { right: 30px; }
    100%    { right: 0; }
}

@-webkit-keyframes floatimage-five {
    0%  { right: 0; }
    50% { right: 30px; }
    100%    { right: 0; }
}